body, div, p, button, span, img {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	background-color: lightgray;
	width: 421px;
	height: 528px;
	border-radius: 7px;
}

#title {
	color: black;
	padding: 10px;
}

.option {
	border: 1px solid black;
	background-color: white;
	margin: 10px 20px;
	overflow: hidden;
}
img {
	width: 120px;
	height: 100px;
	float: left;
	margin: 10px;
	border: 3px solid lightgrey;
}
button {
	background-color: red;
	color: white;
	width: 67px;
	height: 30px;
	float: right;
}

.content {
	margin: 10px;
}

p {
	font-size: 15px;
	margin-bottom: 15px;
}

span {
	font-weight: bold;
}